@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-Bold.eot");
  src: url("../../assets/fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CeraPro-Bold.woff2") format("woff2"), url("../../assets/fonts/CeraPro-Bold.woff") format("woff"), url("../../assets/fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  font-style: normal;
}

h1 {
  font-weight: 600;
  font-size: 7.708vw;
  line-height: 0.8em;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 7.813vw;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 4.167vw;
  font-weight: 600;
}

button {
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
}

div,
p,
a,
ul,
li,
span,
img {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: rgba(29, 23, 74, 0.6980392157);
}

.wrapper {
  max-width: 82.813vw;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.center {
  text-align: center;
}

.transparent-text-maincolor-border {
  color: transparent;
  -webkit-text-stroke: 1px #F580F7;
  text-stroke: 1px #F580F7;
}

.transparent-text-subcolor-border {
  color: transparent;
  -webkit-text-stroke: 1px #543EFA;
  text-stroke: 1px #543EFA;
}

.page-title {
  line-height: 0.9em;
}

.ml-auto {
  margin-left: auto;
}

.header {
  position: relative;
  background-color: #543EFA;
  padding-bottom: 100px;
}
.header__logo {
  width: 8.073vw;
}
.header__top {
  padding-top: 4.167vw;
  display: flex;
}
.header .word {
  width: 100%;
  text-align: center;
  font-size: 15.521vw;
  font-weight: 700;
  color: #4733DC;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: -1.302vw;
  line-height: 0.8em;
}
.header .bg-line {
  width: 100%;
  height: 82px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  transform: translateY(30%);
}
.header__top {
  display: flex;
  justify-content: space-between;
}
.header__el {
  display: flex;
  align-items: center;
  gap: 4.948vw;
  height: 100%;
}
.header__nav {
  border: 1px solid #F580F7;
  padding: 0.781vw 1.563vw;
  height: 100%;
  border-radius: 1.563vw;
  font-family: "Cera Pro", sans-serif;
}
.header__nav ul {
  display: flex;
  gap: 1.563vw;
}
.header__nav ul li {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;
}
.header__nav ul li:hover > a {
  color: #543EFA;
}
.header__nav ul li:hover:before {
  opacity: 1;
}
.header__nav ul li::before {
  content: "";
  height: 2.019vw;
  width: calc(100% + 2.363vw);
  display: block;
  position: absolute;
  background-color: #F580F7;
  pointer-events: none;
  border-radius: 1.563vw;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}
.header__nav ul li > a {
  position: relative;
  z-index: 3;
  color: #F580F7;
  font-size: 0.833vw;
  transition: 0.3s;
}
.header__box {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1.563vw;
}
.header__box-inner {
  display: flex;
}
.header__contact-us {
  font-family: "Cera Pro", sans-serif;
  color: #543EFA;
  background-color: #F580F7;
  font-size: 0.833vw;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0.521vw 1.563vw;
  border-radius: 2.344vw;
  position: relative;
  margin-right: -0.521vw;
}
.header__contact-us:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border: 3px solid #543EFA;
  transform: translate(-50%, -50%);
  border-radius: 2.344vw;
}
.header__login {
  font-family: "Cera Pro", sans-serif;
  color: #543EFA;
  background-color: #BEF941;
  font-size: 0.833vw;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0.521vw 1.563vw;
  border-radius: 2.344vw;
}

.offer {
  position: relative;
  padding: 3.204vw 0 11.021vw;
}
.offer h1 {
  font-weight: 600;
  text-indent: 7.1vw;
  line-height: 6.823vw;
}
.offer .etherium-icon {
  position: absolute;
  left: 9.2vw;
  top: 1.6vw;
  z-index: 2;
  width: 9.74vw;
  height: 9.74vw;
}
.offer .bitcoin-img {
  width: 6.875vw;
  height: 6.875vw;
  position: absolute;
  right: 19.5vw;
  top: 10vw;
  z-index: 2;
}
.offer__readmore {
  background-color: #BEF941;
  border-radius: 2.344vw;
  padding: 0.781vw 2.344vw;
  text-align: center;
  text-transform: uppercase;
  color: #543EFA;
  font-weight: 700;
  font-size: 1.25vw;
  position: absolute;
  right: 17vw;
  bottom: 11.5vw;
}
.offer__readmore:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border: 3px solid #543EFA;
  transform: translate(-50%, -50%);
  border-radius: 2.344vw;
  border: 7px solid #543EFA;
}
.offer__advanatges {
  display: flex;
  align-items: center;
  position: absolute;
  left: 14vw;
  bottom: 8vw;
  color: #543EFA;
  font-size: 1.406vw;
  transform: rotate(-3deg);
}
.offer__advanatges span {
  font-weight: 700;
  font-size: 2.031vw;
}
.offer__advanatges-users {
  position: relative;
  background-color: #F580F7;
  border-radius: 2.969vw;
  padding: 0.281vw 1.563vw;
}
.offer__advanatges-users:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border: 3px solid #543EFA;
  transform: translate(-50%, -50%);
  border-radius: 2.344vw;
  border: 7px solid #543EFA;
  border-radius: 2.969vw;
}
.offer__advanatges-experiance {
  position: relative;
  background-color: #BEF941;
  border-radius: 2.969vw;
  padding: 0.281vw 1.563vw;
  transform: translateX(-12px);
}
.offer__advanatges-experiance:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border: 3px solid #543EFA;
  transform: translate(-50%, -50%);
  border-radius: 2.344vw;
  border: 7px solid #543EFA;
  border-radius: 2.969vw;
}

.languages {
  font-family: "Cera Pro", sans-serif;
  color: #543EFA;
  text-transform: uppercase;
  background: #fff;
  border-radius: 2.344vw;
  font-size: 0.833vw;
  padding: 0.521vw 1.563vw;
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 0.25vw;
}

span.color {
  color: #F580F7;
}

span.bold {
  font-weight: 700;
  letter-spacing: -0.04em;
}

.solutions {
  padding: 6.208vw 0 5.208vw;
  position: relative;
  margin-top: -3vw;
  background: url("../images/bg-gray.webp") no-repeat 50% 17%/cover;
}
.solutions__img {
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: rotate(180deg) translateY(-50%);
}
.solutions .page-title {
  color: #543EFA;
}
.solutions .transparent-text {
  font-size: 10.313vw;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.8em;
}
.solutions .transparent-text span {
  display: block;
  padding-left: 2vw;
}
.solutions__content {
  padding-top: 8.854vw;
}
.solutions__item-with-image.betting {
  position: absolute;
  right: 0;
  top: 33vw;
}
.solutions__item-with-image.forex {
  margin-left: -5.208vw;
}
.solutions__item-with-image.online {
  position: absolute;
  right: 14.5vw;
  bottom: 7.5vw;
}
.solutions__item-with-image.mb-30 {
  margin-bottom: 3.646vw;
}
.solutions__item.mb-180 {
  margin-bottom: 9.375vw;
}
.solutions__item.mb-230 {
  margin-bottom: 11.979vw;
}
.solutions__item-with-image-inner {
  position: relative;
}
.solutions__item-with-image-inner.betting img {
  width: 33.333vw;
  height: 27.083vw;
  position: absolute;
  left: 2vw;
  top: -17vw;
}
.solutions__item-with-image-inner.forex img {
  width: 35.677vw;
  height: 22.917vw;
  position: absolute;
  left: 0;
  top: -20vw;
}
.solutions__item-with-image-inner.online img {
  width: 30.625vw;
  height: 23.229vw;
  position: absolute;
  left: 2vw;
  top: -17vw;
}
.solutions__header {
  max-width: 33.431vw;
}
.solutions__header.mr-5 {
  margin-right: 5vw;
}
.solutions__header h3 {
  color: #F580F7;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.8em;
  margin-bottom: 2.083vw;
}
.solutions__header div > p {
  color: #1D174A;
  opacity: 0.7;
  font-size: 0.938vw;
}
.solutions__header div > p:not(:last-child) {
  margin-bottom: 1.563vw;
}

.advantages {
  padding: 10.208vw 0 5.208vw;
  position: relative;
  margin-top: -3vw;
  background: url("../images/bg-blue.webp") no-repeat 50% 50%/cover;
}
.advantages h2 {
  color: #F580F7;
  margin-bottom: 28.646vw;
}
.advantages__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28.646vw 5.208vw;
}
.advantages__item {
  position: relative;
  max-width: 33.438vw;
  width: 100%;
}
.advantages__item:nth-child(1) img {
  width: 43.542vw;
  height: 36.615vw;
  position: absolute;
  left: 0;
  top: -72%;
  transform: translateY(-50%);
  z-index: 1;
}
.advantages__item:nth-child(2) img {
  width: 30.573vw;
  height: 23.438vw;
  position: absolute;
  left: 0;
  top: -100%;
  transform: translateY(-50%);
}
.advantages__item:nth-child(3) img {
  width: 33.333vw;
  height: 27.604vw;
  position: absolute;
  left: 3vw;
  top: -9vw;
  transform: translateY(-50%);
}
.advantages__item:nth-child(4) img {
  width: 31.927vw;
  height: 22.917vw;
  position: absolute;
  left: 3vw;
  top: -12vw;
  transform: translateY(-50%);
}
.advantages__item:nth-child(5) img {
  width: 34.115vw;
  height: 29.427vw;
  position: absolute;
  left: 0;
  top: -11vw;
  transform: translateY(-50%);
}
.advantages__item:nth-child(6) img {
  width: 25.521vw;
  height: 31.25vw;
  position: absolute;
  left: 3vw;
  top: -10vw;
  transform: translateY(-50%);
}
.advantages__item h4 {
  position: relative;
  z-index: 5;
  font-size: 2.604vw;
  color: #EFEFEF;
  font-weight: 600;
  text-align: center;
  line-height: 0.8em;
  margin-bottom: 2.083vw;
}
.advantages__item p {
  position: relative;
  z-index: 5;
  color: #BBB2FF;
  font-size: 0.938vw;
  text-align: center;
}

.swiperGeography1 .swiper-wrapper {
  display: flex;
  transition-timing-function: linear;
  will-change: transform;
  animation: scroll 75s linear infinite;
}

.swiperGeography2 .swiper-wrapper {
  display: flex;
  transition-timing-function: linear;
  will-change: transform;
  animation: scrollReverse 35s linear infinite;
}

.swiperGeography3 .swiper-wrapper {
  display: flex;
  transition-timing-function: linear;
  will-change: transform;
  animation: scroll 30s linear infinite;
}

@keyframes scrollReverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.geography {
  position: relative;
  padding: 9.208vw 0 8.208vw;
  margin-top: -4vw;
  background: url("../images/geography-bg.webp") no-repeat 50% 17%/cover;
}
.geography__content .swiper-wrapper {
  gap: 30px;
}
.geography__content.mb-30 {
  margin-bottom: 1.563vw;
}
.geography__item {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.823vw;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.042vw 1.563vw;
  line-height: 1em;
  border-radius: 0.26vw;
  flex-shrink: 0;
  min-width: -moz-max-content;
  min-width: max-content;
}
.geography__item_pink {
  color: #F580F7;
  border: 2px solid #F580F7;
}
.geography__item_blue {
  color: #543EFA;
  border: 2px solid #543EFA;
}
.geography__title {
  position: relative;
  color: #fff;
  max-width: 71.615vw;
  width: 100%;
  margin-bottom: 6.25vw;
  padding-left: 4vw;
}
.geography__title h2 {
  text-align: left;
  margin-bottom: 2.083vw;
}
.geography__title p {
  max-width: 33.333vw;
  color: #BBB2FF;
  font-size: 0.938vw;
}
.geography__box {
  position: absolute;
  right: 11vw;
  bottom: 7vw;
}
.geography__button {
  text-align: center;
  position: relative;
  width: 15.625vw;
  height: 4.167vw;
  color: #fff;
  font-size: 1.667vw;
  background-color: #F580F7;
  text-transform: uppercase;
  font-family: "Cera Pro", sans-serif;
  font-weight: 600;
  border-radius: 4.688vw;
  padding: 0.96vw 0;
  transform: rotate(-6deg) translateX(0%);
}
.geography__button:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border: 3px solid #543EFA;
  transform: translate(-50%, -50%);
  border-radius: 2.344vw;
  border: 7px solid #151529;
  border-radius: 2.969vw;
}
.geography__button img {
  width: 14.844vw;
  height: 4.485vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(5deg) translate(-51%, -35%);
  -o-object-fit: cover;
     object-fit: cover;
}
.geography__img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
.geography__image {
  width: 22.396vw;
  height: 25.781vw;
  position: absolute;
  right: 0;
  top: 3vw;
}

.team {
  padding: 10.348vw 0 5.208vw;
  position: relative;
  margin-top: -3vw;
  background: url("../images/bg-pink.webp") no-repeat 50% 50%/cover;
}
.team h2 {
  text-align: center;
  color: #EFEFEF;
  margin-bottom: 4.688vw;
}
.team__content {
  display: flex;
  align-items: flex-end;
  gap: 5.208vw;
}
.team__content img {
  width: 42.083vw;
  height: 23.594vw;
}
.team__info {
  max-width: 33.438vw;
}
.team__info h3 {
  color: #EFEFEF;
  text-transform: uppercase;
  line-height: 0.9em;
  margin-bottom: 2.083vw;
}
.team__info p {
  font-size: 0.938vw;
}
.team__info p:not(:last-child) {
  margin-bottom: 1.042vw;
}

.contacts {
  position: relative;
  padding: 9.208vw 0 8.208vw;
  margin-top: -4vw;
  background: url("../images/geography-bg.webp") no-repeat 50% 17%/cover;
}/*# sourceMappingURL=styles.css.map */